*.class
*.log
*.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

target/*
project/*
.vscode/*
.idea/*
.metals/*
.bloop/*
.bsp/*

cvc5
lib
z3
stainless.bat
stainless
stainless-cli
.stainless-cache
stainless.conf

stainless-stack-trace.txt
.scalafmt.conf
